
.header_two_content{
  padding: 17px 0;
  display: flex;
  justify-content: space-between;
  column-gap: 65px;
}
.header__two-list{

  font-family: 'Trebuchet MS',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  column-gap: 69px;
  a{
    &:hover{
      color: #FB791B;
    }
    color: #2A2A2A;
    text-decoration: none;
  }
}
.icons{
  display: flex;
  column-gap: 20px;
}
